<div class="container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <!-- row -->
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/owl-with-big-eyes-gray-background-3d-rendering.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container flex flex-col md:max-w-[233px] h-auto max-w-[150px]">
                    <div class="card-image"><img
                            src="../../dist/img/exploreAsset/portrait-happy-handsome-young-man-posing-isolated-background.jpg"
                            alt="ini img" class="rounded-xl"></div>
                    <div class="card-judul-des mt-2">
                        <h1 class="roboto-bold text-black text-[20px]">Lorem Ipsum</h1>
                        <div>
                            <p class="roboto-regular text-[15px]">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Esse, dolorem</p>
                        </div>
                    </div>
                    <div class="card-profile mt-2">
                        <div class="gap-2 flex flex-row">
                            <div class="foto rounded-full overflow-hidden h-10 w-10">
                                <img src="../../dist/img/exploreAsset/waist-up-portrait-handsome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall-self-confident-ma.jpg"
                                    alt="profileFoto" class="object-cover w-full h-full"></div>
                            <div class="username flex items-center">
                                <h1 class="roboto-medium text-[13px]">Dolorem Ipsum</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>


<!-- foreach -->
<!-- image-grid.blade.php -->

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    @foreach($images as $image)
        <div>
            <img class="h-auto max-w-full rounded-lg"
                src="{{ asset('img/' . $image->image_path) }}" alt="{{ $image->title }}">
        </div>
    @endforeach
</div>

<!-- end -->
